# ASP.NET Core/.NET Core
bin/
obj/
Debug/
Release/

# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# NuGet
packages/
*.nupkg
project.lock.json
*.pfx

# Build and publish outputs
*.dll
*.exe
*.pdb
*.dll.config
*.xml
*.json
*.csproj
*.userprefs

# Others
Thumbs.db
*.log
*.cache
*.vsix
*.suo
*.user
*.docstates
*.userprefs

# Mac specific
.DS_Store

# R# specific
stylecop.json
ReSharper/
