.uploadPage {
  width: 100%;
  padding-top: 80px;
}

.uploadForm {
  width: fit-content;
  margin: auto;
  width: 415px !important;
}

.uploadFormWithInputs {
  margin-top: 20px;
}

.title {
  color: #9c9c9c !important;
  text-align: left !important;
}

.ant-collapse {
  border: none !important;
  border-radius: 0 !important;
}

.ant-collapse-item {
  background-color: white !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
  font-size: 20px !important;
  padding: 15px !important;
}

.buttonSemestar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 415px !important;
  margin-left: 335px !important;
}
